body {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    background-color: #9dd2ec;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/*Top Bar Start*/


.topbar {
    display: flex;
    justify-content: space-between;
    background: #dff7eb;
    padding: 10px 50px;
    font-size: 14px;
    color: #555;

}
.social-icons{
    color: #555;
}
.social-icons a, .contact-info a {
    margin-right: 10px;
    color: #555;
    text-decoration: none;
}
.social-icons a:hover, .contact-info a:hover {
    color: #007bff;
}


/*Top Bar End*/


/*Nav Bar Start*/


.navbar {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.9);
}
.navbar ul ul li{
    background-color: #7c4444;
    
}
.nav-links li:hover .dropdown {
    display: contents;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
.logo img {
    width: 50px;
    margin-right: 10px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li {
    position: relative;
    padding: 10px 20px;
    background: #dff7eb;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;

}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
.dropdown {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 5px;
    min-width: 150px;
}
.nav-links li:hover{
    background: #494949;
    box-shadow: 0px 0px 15px 2px gray;
}
.nav-links li:hover a{
    color: #fff;
}

.dropdown li {
    padding: 5px 0;
}
.appointment-btn {
    background: #dff7eb;
    color: #494949;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.appointment-btn:hover{
    background: #494949;
    color: #fff;
    box-shadow: 0px 0px 15px 2px gray;
}


/*Nav Bar End*/




/*six part start*/


.services-container {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tabs button a{
    color: #333;
    text-decoration: none;
}

.tab {
    flex: 1;
    padding: 12px 15px;
    font-size: 15px;
    font-weight: bold;
    color: #333;
    background: #eef7ff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    transition: 0.3s;
}

.tab:hover {
    box-shadow: 0px 0px 10px 8px white;
    font-size: 30px;
}

.contentt {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.textt {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.textt h2 {
    font-size: 22px;
    color: #222;
    margin-bottom: 10px;
}

.textt p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.iconn {
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.iconn i {
    font-size: 30px;
    margin-right: 20px;

}

.imagee {
    flex: 1;
    text-align: right;
}

.imagee img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 5px rgb(39, 33, 33);
}

@media (max-width: 768px) {
    .contentt {
        flex-direction: column;
        text-align: center;
    }

    .textt {
        text-align: center;
    }

    .imagee {
        text-align: center;
        margin-top: 20px;
    }
}


/*six part end*/